@page "/autor/livros/{id}"
@inject ILivroService LivroService
@inject IAutorService AutorService

<h3>Livros de @Autor?.Nome</h3>
<br />
@if (Autor != null)
{
	<table class="table">
		<thead>
			<tr>
				<th>Nome do Livro</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var livro in livros)
			{
				<tr>
					<td>
						<a href="/livro/info/@livro.Id">@livro.Name</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Carregando...</p>
}

@code {
	[Parameter] public Guid AutorId { get; set; }
	private Autor? Autor = null;
	private List<Livro> livros = new();

	protected override async Task OnInitializedAsync()
	{
		Autor = await AutorService.GetAutorById(AutorId);
		if (Autor != null)
		{
			livros = (await LivroService.GetLivrosByAutorId(AutorId)).ToList();
		}
	}
}
