@page "/suspense"
@inject ILivroService LivroService
@inject IAutorService AutorService

<PageTitle>Suspense</PageTitle>

<h1>Suspense</h1>

@if (livros == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<p>Listagem de Livros de Suspense</p>
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var livro in livros)
			{
				<tr>
					<td>
						<a href="/livro/info/@livro.Id">@livro.Name</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<br />
	<br />
	<br />
	<p>Listagem de Autores de Suspense</p>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var autor in autores)
			{
				<tr>
					<td>
						<a href="/autor/info/@autor.Id">@autor.Nome</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Livro> livros = new();
	private List<Autor> autores = new();
	private readonly Guid GeneroId = Guid.Parse("5456c46a-6804-4753-bf0b-daaef78b51b5");

	protected override async Task OnInitializedAsync()
	{
		livros = (await LivroService.GetLivrosByGeneroId(GeneroId)).ToList();
		autores = (await AutorService.GetAutoresByGeneroId(GeneroId)).ToList();
	}
}
