@page "/Account/Favoritos"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using ComunidadeLivros2.Data
@rendermode InteractiveServer

<PageTitle>Favoritos</PageTitle>

<h3>Livros Favoritos</h3>
<StatusMessage />

<div class="row">
    
</div>

@code {
    
}